[tool.poetry]
name = "fal"
version = "0.1.0"
description = ""
authors = ["Meder Kamalov <meder@fal.ai>"]

[tool.poetry.dependencies]
python = "^3.8, <3.10"
arrow = "^1.2.0"
click = "^8.0.3"
slack-sdk = "^3.11.2"
pandas = "^1.3.4"
pystan = "2.18.0"
fbprophet = "^0.7.1"
google-cloud-bigquery = "^2.28.1"
google-cloud-bigquery-storage = "^2.9.1"
pyarrow = "^5.0.0"
plotly = "^5.3.1"
kaleido = "0.2.0"
pydantic = "^1.8.2"
PyYAML = "^6.0"
ninja = "^1.10.2"
Jinja2 = "^2.11.3"
dbt = "^0.21.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
fal = "fal.runner:run"
