name: Run Integration Tests

on:
  pull_request:
    types: [assigned, opened, synchronize, reopened]
    paths-ignore:
      - "examples/**"
      - "docsite/**"
      - "README.md"
      - "LICENSE"
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ["3.8"]
        dbt: ["0.20.1", "0.21.1", "1.0.4", "1.1.0"]

    # Run only the latest commit pushed to PR
    concurrency:
      group: "${{ github.ref }}-${{ github.workflow }}-${{ matrix.dbt }}-${{ matrix.python }}"
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v2

      - name: Setup local fal
        uses: ./.github/actions/setup-local-fal
        with:
          python: ${{ matrix.python }}
          dbt: ${{ matrix.dbt }}
          adapter: postgres

      - name: Start Docker database
        working-directory: integration_tests
        run: docker-compose up -d

      - name: Setup behave
        run: pip install behave

      - name: Run tests
        working-directory: integration_tests
        env:
          FAL_STATS_ENABLED: false
        run: |
          if [[ '${{ matrix.dbt }}' =~ ^0.*$ ]]
          then
            behave --tags ~@dbtv1
          else
            behave
          fi
